body {
	background: #0065C1;
	font-size: 12pt;
	font-family: Gerstner Programm;
	max-width: 600px;
	margin: 0 auto;
} 
h1 {
	color: black;
	font-size: 200pt;
} 
a {
	color: black;
	font-size: 80pt;
	font: Gerstner Programm light;
}